* {
  box-sizing: border-box;
}
body {
  color: #444;
  background-color: oldlace;
  font-family: sans-serif;
  line-height: 1.4em;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: darkgreen;
  border-bottom: 2px solid darkgreen;
}
a:hover {
  color: darkslateblue;
  border-bottom: 2px solid darkslateblue;
}
#home-container {
  text-align: center;
}
img {
  max-width: 100%;
}
a > img {
  padding: 10px;
}
a:has(img) {
  border-bottom: none;
}

.captioned-gallery {
  display: flex;
  flex-wrap: wrap;
}
.captioned-gallery a {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  text-align: center;
}
.captioned-gallery a:hover {
  border-bottom: none;
}
.captioned-gallery img {
  max-width: 100%;
  height: auto;
  padding: 0px;
}
