/* resets */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0; padding: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303030;
  background-color: #fdfdfd;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, p, li, span, a, pre, td, th {
  font-weight: 200;
}

a {
  color: #1B963A;
  text-decoration: none;
}

a:visited {
  color: #167A2F;
}

/* text inside single backticks `like this` */
code {
  font-family: monospace;
  color: #f99157;  /* orange */
  font-size: 90%;
}

/* text inside code fences */
pre {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  overflow-x: scroll;
}

li {
  margin-left: 25px;
}

.content {
  margin-bottom: 20px;
}

/* used to reset the summary text in the article list view */
.content p {
  clear: both;
}

.article-text {
  margin-top: 10px;
}

.post {
  margin-bottom: 3em;
}

.note-tags {
  display: block;
  margin-top: 0.5rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

img.post-thumbnail {
  float: left;
  margin: 5px 30px 0 0;
}

.pasture-pagination {
  text-align: center;
}

.video-player {
  text-align: center;
  margin-bottom: 15px;
}

.top-matter ul {
  list-style: none;
}

.top-matter ul > li {
  display: inline-block;
}

.top-matter ul > li:first-child {
  margin-left: 0px;
}
