html {
  font-family: "Inconsolata", sans-serif;
}

code, pre {
  font-family: "Inconsolata", monospace;
}

code {
  color: #40A837;  /* a mild green */
  font-size: 90%;
}

.note-tags {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.content {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
