html {
  font-family: "Inconsolata", sans-serif;
}

code, pre {
  font-family: "Inconsolata", monospace;
}

code {
  color: #40A837;  /* a mild green */
  font-size: 90%;
}

.note-tags {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.content {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.content p {
  clear: both;
}

.list-desc {
  display: block;
}

.notes {
  list-style: none;
}

.notes li {
  margin: 0 0 1em 0;
}

img {
  width: 300px;
  float: left;
  margin: 20px 20px 40px 20px;
}
