<div class="sidebar">
  <div class="container sidebar-sticky">

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="{{ .Site.BaseURL }}">
          / home
        </a>
      </li>

      <li class="sidebar-nav-item">
        <a href="/about">
          &xcap; about
        </a>
      </li>

      <li class="sidebar-nav-item">
        <a href="/tags/projects">
          &mlcp; projects
        </a>
      </li>

      <li class="sidebar-nav-item">
        <a href="/tags">
          &profsurf; tags
        </a>
      </li>
    </ul>

  </div>
</div>
