<div class="sidebar">
  <div class="container sidebar-sticky">

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a href="{{ .Site.BaseURL }}">
          / home
        </a>
      </li>

      {{ range .Site.Menus.main }}
        <li class="sidebar-nav-item">
          <a href="{{ .URL }}">
            &xcap; {{ .Name }}
          </a>
        </li>
      {{end}}

      <li class="sidebar-nav-item">
        <a href="/tags/projects">
          &mlcp; projects
        </a>
      </li>
    </ul>

  </div>
</div>
