{{ partial "head.html" . }}

<div class="content container">

  <ul class="posts">

    {{ range .Data.Pages }}

      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>

        (
        {{ if isset .Params "tags" }}
          {{ $baseUrl := .Site.BaseUrl }}
          {{ range .Params.tags }}
            <a class="label" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>,
          {{ end }}
        {{ end }}
        )

        <span class='list-time'>{{ .Date.Format "Jan 2, 2006" }}</span>

      </li>
  {{ end }}

  </ul>

</div>

{{ partial "foot.html" . }}
