{{ partial "head.html" . }}

<div class="content container">

  <ul class="notes">

    {{ range .Data.Pages }}

      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>

        (
        {{ if isset .Params "tags" }}
          {{ $baseUrl := .Site.BaseURL }}
          {{ range .Params.tags }}
            <a class="label" href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>,
          {{ end }}
        {{ end }}
        )

        <span class='list-time'>{{ .Date.Format "Jan 2, 2006" }}</span>

        <br />
        {{ if .Description }}
          <span class='list-desc'>{{ .Description }}</span>
        {{ else }}
          <span class='list-desc'>&nbsp;</span>
        {{ end }}

      </li>
  {{ end }}

  </ul>

</div>

{{ partial "foot.html" . }}
