{{ partial "head.html" . }}

<div class="content container">

  <div class="post">

    <h1>{{ .Title }}</h1>

    <span class="note-date">
      {{ .Date.Format "Jan 2, 2006" }}
    </span>

    <span class="note-tags">
    (
      {{ if isset .Params "tags" }}
        {{ $baseUrl := .Site.BaseURL }}
        {{ range .Params.tags }}
          <a href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>,
        {{ end }}
      {{ end }}
    )
    </span>

    {{ .Content }}

  </div>

</div>


{{ partial "foot.html" . }}
