<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />

    <title>oakmachine</title>

    <!--Oak photo by https://unsplash.com/@spencer_demera-->
    <link rel="icon" sizes="16x16" type="image/png" href="/icons/roble-favicon-16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="/icons/roble-favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/roble-apple-touch-icon.png">   

    <link rel="stylesheet" href="{{ get_url(path='base.css', cachebust=true) | safe }}" />
  </head>

  <body>
    <section class="section">
      {% block content %} {% endblock %}
    </section>
  </body>

</html>
