{% extends "base.html" %}

{% block content %}
<h1>
  <a href="/">om2</a>
  /
  {{ section.title }}
</h1>

<div class='captioned-gallery'>
  {% for page in section.pages %}
  <a href="{{ page.permalink | safe }}">
    {% if page.extra.thumbnail %}
      {% set thumb = resize_image(path=page.extra.thumbnail, width=200, height=200, op="fill") %}
      <img src="{{ thumb.url }}" />
    {% endif %}
    <span class='caption'>
      {{ page.title }}
    </span>
  </a>
  {% endfor %}
</div>

{% endblock content %}
