<div class='pasture-pagination'>
  {{ if gt .Paginator.TotalPages 1 }}

    {{ with .Paginator.First }}
      <a href="{{ .URL }}" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    {{ end }}

    <span {{ if not .Paginator.HasPrev }}class="disabled"{{ end }}>
      <a href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ end }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </span>

    {{ range .Paginator.Pagers }}
    <span {{ if eq . .PageNumber }}class="active"{{ end }}>
      <a href="{{ .URL }}">{{ .PageNumber }}</a>
    </span>
    {{ end }}

    <span {{ if not .Paginator.HasNext }}class="disabled"{{ end }}>
      <a href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ end }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </span>

    {{ with .Paginator.Last }}
      <a href="{{ .URL }}" aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    {{ end }}

  {{ end}}
</div>
