<div class="sidebar">
  <div class="container sidebar-sticky">
    <ul class="sidebar-nav">

      <li class="sidebar-nav-item">
        <a href="{{ .Site.BaseURL }}">&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/notes">notes</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/projects">projects</a>
      </li>
      {{ range .Site.Menus.main }}
        <li class="sidebar-nav-item">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{end}}
    </ul>
  </div>
</div>
