<!doctype html>
<html>
  {{ partial "head.html" . }}

  <div class="content">
    <div class="posts">

      <div class="portfolio-header">
        <h2>Matt Ball &mdash; oakmachine.com</h2>
      </div>

      {{ range .Site.Pages }}
        {{ if not (isset .Params "menu") }}
          {{ if in .Params.tags "projects" }}
            {{ if not (in .Params.tags "drafts") }}
              {{ partial "single-article.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

    </div>
  </div>
</html>
